/* Checkout */
span.order-total-line-label {
    padding-right: 10px;
}

.node--view-mode-card-design h2 {
    display: none;
}

/* Webform result page (main block)s */

.webform-confirmation {
    width: 80%;
    /* padding-right: 5%; */
    /* padding-left: 5%; */
    margin-right: auto;
    margin-left: auto;
}

/* Language switcher */
div#block-b5subtheme-languageswitcher ul li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
}

div#block-b5subtheme-languageswitcher ul li a {
    text-decoration: none;
    color: #333;
}

/* Breadcrumb niceness */
.region-breadcrumb {
    padding: 5px 0 5px 0;
}

.breadcrumb {
    --bs-breadcrumb-margin-bottom: 0rem;
}

li.breadcrumb-item a {
    color: #a6a6a6;
    text-decoration: none;
}

li.breadcrumb-item {
    color: #a6a6a6;
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: rgb(202 202 202 / 75%);
    content: var(--bs-breadcrumb-divider,">");
}

/* Hero fixes */

.block-field-blockcommerce-productservicestitle a {
    text-decoration: none;
    color: #ffffff;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    z-index: 999;
}

.flex-control-paging li a.flex-active {
    background: #ffffff;
    background: rgb(255 255 255 / 90%);
    cursor: default;
}

.flex-control-paging li a {
    width: 32px;
    height: 6px;
    display: block;
    background: #ffffff;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    -moz-border-radius: 20px;
    border-radius: 0px;
}



.flexslider {
    margin: 0 0 0px;
    background: transparent; 
    border: 0px solid #fff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: '' 0 0p 0px rgba(0,0,0,0.2);
    -moz-box-shadow: '' 0 0px 0px rgba(0,0,0,0.2);
    -o-box-shadow: '' 0 0px 0px rgba(0,0,0,0.2);
    box-shadow: '' 0 0px 0px rgba(0,0,0,0.2);
}


/* Fit all images */

/* imported Meta RSS instory images */
img.alignnone.size-large {
    width: 100%;
    height: auto;
}

img.alignnone.size-full {
    width: 100%;
    height: auto;
}


img {
    width: fit-content;
}

#embeded img {
    max-width: 90%;
}


/* Cookie concent banner */
.eu-cookie-compliance-content {
    margin: 0 auto;
    max-width: 80%;
    display: inline-block;
    text-align: left;
    /* width: 100%; */
}

div#sliding-popup {
    background: #222222;
    border-radius: 0 0 5px 0;
    width: 100%;
    height: auto;
}

button.decline-button.eu-cookie-compliance-default-button {
    border: 0;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
}

button.agree-button.eu-cookie-compliance-secondary-button {
    border: 0;
    margin: 1em;
    padding: 1em;
    background: #76cb76;
    border-radius: 5px;
}

button.find-more-button.eu-cookie-compliance-more-button.find-more-button-processed {
    border: 0;
    padding: 1% 5%;
    /* margin: 1em; */
    /* width: 90%; */
    font-size: 0.8rem;
    background: #dcdcdc;
    border-radius: 5px;
}

button.eu-cookie-withdraw-tab {
    border-radius: 0 0 5px 5px;
    border: 0;
    background: #ccc;
}

div#popup-text h2 {
    font-size: 1.5rem;
    margin-top: 1em;
}
/* Usernav */

.tbm.tbm--mobile.tbm--mobile-show .tbm-collapse {
    display: block;
    width: 90vw;
    margin-left: -75vw;
}

.tbm.tbm--mobile .tbm-nav {
    border: 2px solid;
}

.site-logo.d-block img {
    height: auto;
}

.navbar-brand a.site-title {
    color: #ffffff;
    text-decoration: none;
    font-size: 10px;
}

.tbm-item.level-1 {
    border-right: 0px solid rgba(0,0,0,0);
}

.tbm.tbm--mobile .tbm-button {
    display: block;
}

.tbm-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
}

div#block-cartflyout {
    width: auto;
    margin: auto 0;
}

.dropdown-menu {
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #4b4c4d;
    --bs-dropdown-header-color: #6c757d;
    background-color: #737373;
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

/* Taxonomy page 

article.contextual-region.node.node--type-article.node--view-mode-teaser h2 {
    display: none;
}

article.contextual-region.node.node--type-article.node--view-mode-teaser h2.card-title  {
    display: inline-block;
}*/

/* Productpage */


.node--view-mode-symbol-referens h2 {
    display: none;
}

#ikoner img {
    /* border: 1px solid; */
    width: 30%;
    float: left;
    margin: 0 5% 5% 0;
}


/* slidesshow thumbnails */

.views-content-field-produkt-bilder {
    float: left;
}


/*  Add to cart form */
input.button--add-to-cart {
    display: none;
}

/*.cart.cart-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}*/

.cart-block--contents {
    width: 320px;
    background: white;
    color: black;
}

.cart-block--contents.is-outside-horizontal.cart-block--contents__expanded {
    z-index: 9999;
}

/* Article */



figure.caption {
    margin: 5%;
    font-style: italic;
}

/* video 100% */

video {
    width: 100% !important;
    height: auto !important;
}

/*
.field.field--name-field-media-oembed-video.field--type-string.field--label-hidden.field__item {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.media-oembed-content {
    /* width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/* caption background */
.caption > figcaption {
    display: table-caption;
    max-width: none;
    caption-side: bottom;
    background-color: #f2f2f2;
    padding: 4px;
}

/* Card */

/* article.node.node--type-article.node--promoted.node--view-mode-teaser h2 {
    display: none;
} */

#cardtitle  {
    display: block;
}

.card-title a {
    text-decoration: none;
    color: #6C757D;
}


/* Header stuff Bootstrap */

img.language-icon.img-fluid {
    width: 32px;
}


/* Super remove paddings and margins */
.region.region-content {
    padding: 0;
}